.modalBackground21 {
    background-color: black;
    filter: alpha(opacity= 90) !important;
    opacity: 0.6 !important;
    z-index: 20;
}

.lot {
    color: #3ec8ff;
    text-decoration: none;
}

#lot {
    color: #3ec8ff;
    text-decoration: none;
    font-weight: bold;
}

.modalpopup {
    width: 400px;
    height: auto;
    padding: inherit;
    /*float:left;*/
    background: white;
    margin: inherit;
    /*cursor:pointer;*/
    text-align: center;
    position: relative;
    /*text-transform:uppercase;*/
    /*transition: 0.4s;*/
    /*transform: translate(-100%,-100%);*/
}

.hiddencol {
    display: none;
}

#tab td {
    padding: 2px;
}

#tab th {
    padding: 2px;
}

.MyCalendar .ajax__calendar_container {
    border: none;
    background-color: white;
    color: blue;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.ajax__calendar_prev, .ajax__calendar_next {
    z-index: 1;
}

.ddl {
    border: 2px solid #7d6754;
    border-radius: 5px;
    padding: 3px;
    -webkit-appearance: none;
    /*background-image:url('Images/Arrowhead-Down-01.png');*/
    background-position: 88px;
    background-repeat: no-repeat;
    text-indent: 0.01px; /*In Firefox*/
    text-overflow: ''; /*In Firefox*/
}

.Drop {
    width: 400px;
    height: auto;
    /*padding:4px 4px 4px 20px;*/
    float: left;
    background: white;
    /*margin:10px;*/
    /*cursor:pointer;*/
    text-align: center;
    position: relative;
    /*text-transform:uppercase;*/
    /*transition: 0.4s;*/
    transform: translate(-50%,-50%);
}
.modalpopupProd {
    align-content: center;
    /*padding: 0px 0px 10px 10px;*/
    /*top:50%;
        left:50%;*/
    padding: 4px;
    margin-top: 0;
    width: 400px;
    height: auto;
    position: relative;
    background-color: white;
    border: 2px solid white;
}

    .modalpopupProd * {
        font-size: 15px;
    }

.MyCalendar .ajax__calendar_container {
    border: none;
    background-color: whitesmoke;
    color: blue;
}

.ajax__calendar_prev, .ajax__calendar_next {
    z-index: 1;
}

.ddl {
    border: 2px solid #7d6754;
    border-radius: 5px;
    padding: 3px;
    -webkit-appearance: none;
    /*background-image:url('Images/Arrowhead-Down-01.png');*/
    background-position: 88px;
    background-repeat: no-repeat;
    text-indent: 0.01px; /*In Firefox*/
    text-overflow: ''; /*In Firefox*/
}
       