<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, visitez
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    </system.web>
   <connectionStrings>
    <add name="MyDbConn" connectionString="Server=MANNY-PC; database=AspNetCrud; Trusted_connection=True;integrated Security=True" providerName="System.data.sqlclient"/>
    <add name="AspNetCrudConnectionString" connectionString="Data Source=MANNY-PC;Initial Catalog=AspNetCrud;Integrated Security=True" providerName="System.Data.SqlClient"/>
   </connectionStrings>
</configuration>
